<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
    <testsuite name="MTC Tests">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>